---
layout: layouts/base.njk
---

{% set postcss %} {% include "styles/post.css" %} {% endset %}
<style>
	{{ postcss | cssmin | safe }}
</style>

<section>
	<h1>{{ title }}</h1>
</section>

<article>
	{{ content | safe }}
</article>
